<div class="container">
  <h2>Sign in</h2>
  <%= form_with(scope: :session, url: login_path, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |login_form| %>
    <%#= form_with scope: :session, url: login_path , method: :post do |login_form| %>
    <div class="mb-3">
      <%= login_form.label :username, class: 'form-label' %>
      <%= login_form.email_field :username, class: 'form-control', placeholder: 'Username' %>
    </div>
    <div class="mb-3">
      <%= login_form.label :password, class: 'form-label' %>
      <%= login_form.password_field :password, class: 'form-control', placeholder: 'Password' %>
    </div>
    <div class="mb-3 text-right">
      <%= login_form.submit 'Login', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
