<div class="container">
  <%= render 'shared/errors', obj: @article %>
  <%= form_with model: article do |form| %>
    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control', placeholder: 'title here' %>
    </div>
    <div class="mb-3">
      <%= form.label :body, class: 'form-label' %>
      <%= form.text_area :body, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :status, class: 'form-label' %>
      <%= form.text_field :status, class: 'form-control' %>
    </div>
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', root_path, class: "btn btn-secondary" %>
  <% end %>
  </form_with>
</div>