<%= render 'shared/head' %>
<%= render 'shared/display_message', :message => flash[:notice], :type => 'info' %>
<div class="card mt-5 border-0">
  <div class="card-body">
    <h1 class="card-title"><%= @article.title %></h1>
    <h6 class="card-subtitle mb-2 text-muted font-italic font-weight-bold">by Toseef - <%= @article.created_at %></h6>
    <p class="card-text"><%= @article.body %></p>
  </div>
</div>
<div class="mt-2">
  <%= link_to 'Back to articles', root_path %>
</div>
<%= render 'comments/form' %>
<%= render @article.comments.order('created_at DESC') %>
<%= render 'shared/footer' %>
