<%
  css_class = "success"
  if type.eql? 'info'
    css_class = 'info'
  else
    if type.eql? 'warning'
      css_class = 'warning'
    end
  end
%>

<!-- if the message is single line -->
<% if defined? message&.strip.empty? %>
  <div class="alert mt-3 <%= "alert-#{css_class}" %>">
    <%= message %>
  </div>
<% end %>

<% if (defined? errors) && unless errors.empty? %>
  <div class="alert alert-<%= css_class %>" role="alert">
    <h4 class="alert-heading">Errors</h4>
    <ul>
    <% errors.each do |message| %>
      <li><%= message.attribute %> <%= message.message %></li>
    <% end %>
    </ul>
  </div>
<%
  end
  end
%>


